{% extends "RhAdminBundle::layout.html.twig" %}

{% block titre %}
	Suppression d'un jour de congé
{% endblock titre %}

{% block RhAdmin_body %}

	<h2>Suppression d'un jour de congé</h2>

		<p>
			Etes-vous sûr de vouloir supprimer ce jour de congé "{{ feriePont.nom }}" ?
			</p>
			
			<form method="post">
				<input type="submit" value="Oui" class="btn-danger" />
			</form>
			
			<p>
			<a href="{{ path('RhAdmin_feriePont_voir', {'id': feriePont.id}) }}" class="btn">
			<i class="icon-chevron-left"></i>
			Retour à ce jour de congé
			</a>
		</p>
	
{% endblock %}