{% extends "RhAdminBundle::layout.html.twig" %}

{% block titre %}
	Ajouter une prime
{% endblock titre%}

{% block RhAdmin_body %}

	<h2>Ajouter une prime</h2>

	{% include "RhAdminBundle:Admin:formulaire.html.twig" %}

	<p>
		Vous allez ajouter un type de prime.
	</p>

{% endblock %}