{% extends "RhAdminBundle::layout.html.twig" %}

{% block titre %}
	 type de contrat
{% endblock titre%}

{% block RhAdmin_body %}

	<h2>Ajouter un type de contrat</h2>

	{% include "RhAdminBundle:ContratType:formulaire.html.twig" %}

	<p>
		Vous allez ajouter un type de contrat.
	</p>

{% endblock %}