{% extends "RhAdminBundle::layout.html.twig" %}

{% block titre %}
	Ajouter une entreprise
{% endblock titre%}

{% block RhAdmin_body %}

	<h2>Ajouter une entreprise</h2>

	{% include "RhAdminBundle:Admin:Eformulaire.html.twig" %}

	<p>
		Vous allez ajouter une entreprise.
	</p>

{% endblock %}