{% extends "RhAdminBundle::layout.html.twig" %}

{% block titre %}
	Suppression d'une entreprise
{% endblock titre %}

{% block RhAdmin_body %}

	<h2>Suppression d'une entreprise</h2>

		<p>
			Etes-vous sûr de vouloir supprimer l'entreprise "{{ entreprise.nom }}" ?
			</p>
			
			<form method="post">
				<input type="submit" value="Oui" class="btn-danger" />
			</form>
			
			<p>
			<a href="{{ path('RhAdmin_entreprise_voir', {'id': entreprise.id}) }}" class="btn">
			<i class="icon-chevron-left"></i>
			Retour à l'entreprise
			</a>
		</p>
	
{% endblock %}